@font-face {
    font-family: "Lato-italic";
    src: url("./fonts/Lato/Lato-BlackItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-Black.ttf");
  }

  @font-face {
    font-family: "Typo";
    src: url("./fonts/Typo/TypoSlab Irregular Demo.otf");
  }

  @font-face {
    font-family: "Paper";
    src: url("./fonts/Papernotes/Papernotes.woff2");
  }
  @font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald/Oswald-SemiBold.ttf");
  }
  @font-face {
    font-family: "Monserat";
    src: url("./fonts/Monserat/Montserrat-Medium.ttf");
  }
  @font-face {
    font-family: "Monserat-italic";
    src: url("./fonts/Monserat/Montserrat-Italic.ttf");
  }