$color: #00fff2;

@mixin container ($color, $font) {
    width: 100%;
    max-width: 1440px;
    font-size: 16px;
    font-weight: 700;
    color: $color;
}

@mixin block {
    width: 100%;
    max-width: 700px;

    &:hover{

    }
    &:active{

    }
    &:visited{
        
    }
}

div {
    @include container(#fff, 16px)
}