//                                        colors
$bezh: #eae7dc;
$text: #17252a;
$heart: #e85a4f;
$buy: #3aafa9;
$white: #feffff;

//                                        time
$iconDuration: .2s ease-in-out;

//                                         border

$standartBoard: 1px solid $but;