@import '../../../styles/variables.scss';
@import '../../../styles/styles.scss';
    .emptyCartBlock{
        text-align: center;
        .title{
            font-family: 'Monserat';
        }
        .subTitle{
            font-family: 'Monserat';
            margin: 10px 0px 30px 0px;
        }
        .homeBtn{
            background: none;
            border: $standartBoard;
            padding: 5px 15px;
            border-radius: 16px;
            font-size: 18px;
            font-family: 'Monserat';
            &:hover{
                transition: $iconDuration;
                background-color: $text;
                color: $bezh;
            }
        }
        .image{
            width: 100%;
            max-width: 400px;
            height: 400px;
        }   
    }

//LapTop 
@media screen and (max-width: 992px){
    .emptyCartBlock{
        .title{
            font-size: 22px;
        }
        .subTitle{
            margin: 10px 0px 20px 0px;
        }
        .image{
            width: 100%;
            max-width: 350px;
            height: 350px;
        }  
    }
}

//Tablet 
@media screen and (max-width: 768px) {
    .emptyCartBlock{
        .title{
            font-size: 20px;
        }
        .subTitle{
            margin: 10px 0px 20px 0px;
            font-size: 14px;
        }
        .homeBtn{
            padding: 3px 10px;
            font-size: 16px;
        }
        .image{
            width: 100%;
            max-width: 350px;
            height: 350px;
        }  
    }
}

//Phone
@media screen and (max-width: 600px){
    .emptyCartBlock{
        .title{
            font-size: 20px;
        }
        .subTitle{
            margin: 10px 0px 20px 0px;
            font-size: 14px;
        }
        .homeBtn{
            padding: 3px 10px;
            font-size: 16px;
        }
        .image{
            width: 100%;
            max-width: 350px;
            height: 350px;
        }  
    }
}