@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .container {
    width: 768px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    background-color: $bezh;
      .imgBlock{
         width: 100%;
          max-width: 350px;
          height: 500px;
          img{
            max-width: 100%;
            height: 100%;
            border-radius: 14px;
          }
        }
        .infoBlock{
          width: 100%;
          text-align: center;
          padding: 20px;
          position: relative;
        }
        .nameBook{
          font-family: 'Oswald';
        }
        .bookAuthor{
          margin-top: 30px;
          text-align: start;
          font-family: 'Monserat';
          font-size: 18px;
        }
        .bookPrice{
          font-family: 'Oswald';
          text-align: start;
          margin-bottom: 20px;
        }
        .bookDescription{
          margin-top: 10px;
          font-family: 'Monserat';
          text-align: start;
          font-size: 14px;
        }
        .blockDescription{
          height: 280px;
          overflow: scroll;
          overflow-x: hidden;
        }
        .interactBlock{
          width: 100%;
          position: absolute;
          background-color: $bezh;
          bottom: 0;
          left: 0;
          padding-left:20px;
          
          .closeBtn{
            width: 100%;
            background: none;
            background-color: $white;
            font-family: 'Monserat';
            border: none;
            padding: 5px;
            border-radius: 14px ;

            &:hover{
              transition: $iconDuration;
              color: $white;
              background-color: $text;
            }
          }
        }
}
.blockDescription::-webkit-scrollbar {
  background-color: black;
  border-radius: 10px;
  height: 5px;
}

.blockDescription::-webkit-scrollbar:hover {
  background: linear-gradient(#5156e6 55%, #74edf2);
}