@import '../../styles/variables.scss';
@import '../../styles/variables.scss';
.container{
    width: 100%;
    margin: 40px 0px 40px 0px;
    padding: 0 40px 0px 40px;
    .cartBlock{
        width: 100%;
        margin: 40px 0px 40px 0px;
       
    }
    .headText{
        text-align: center;
    }
    .cartFooter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .infoBlock{
            display: flex;
            justify-content: center;
            .cartInfoItem{
                margin-right: 20px;
                color: $text;
                font-family: 'Monserat';
                font-size: 18px;
                &:last-child{
                    margin-right: 0px;
                }
                .counter{
                    font-weight: bold;
                }
            }
        }
            .buyBtn{
                font-family: 'Typo';
                font-size: 20px;
                background: none;
                border: none;
            }
    }
}