@import '../../styles/variables.scss';
@import '../../styles/variables.scss';
.phoneContainer{
    width: 100%;
    margin: 40px 0px 40px 0px;
    padding: 0 40px 0px 40px;
}
.container{
    width: 100%;
    margin: 40px 0px 40px 0px;
    padding: 0 40px 0px 40px;
    .cartBlock{
        width: 100%;
        margin: 40px 0px 40px 0px;
       
    }
    .headText{
        text-align: center;
        font-family: 'Monserat';
    }
    .cartFooter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .infoBlock{
            display: flex;
            justify-content: center;
            .cartInfoItem{
                margin-right: 20px;
                font-family: 'Monserat';
                font-size: 18px;
                &:last-child{
                    margin-right: 0px;
                }
                .counter{
                    font-weight: bold;
                }
            }
        }
            .buyBtn{
                font-family: 'Monserat';
                font-size: 20px;
                padding: 5px 15px;
                border-radius: 18px;
                background: none;
                border: $standartBoard;
                &:hover{
                    transition: $iconDuration;
                    background-color: $text;
                    color: $bezh;
                }
            }
            
    }
}
@media screen and (max-width: 992px){
    .container{
        margin: 30px 0px 30px 0px;
        .cartBlock{
            margin: 30px 0px 30px 0px;
        }
        .cartFooter{
            .infoBlock{
                .cartInfoItem{
                    margin-right: 10px;
                    color: $text;
                    font-family: 'Monserat';
                    font-size: 18px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    .counter{
                        font-weight: bold;
                    }
                }
            }
                .buyBtn{
                    font-family: 'Monserat';
                    font-size: 20px;
                    padding: 5px 15px;
                    border-radius: 18px;
                    background: none;
                    border: $standartBoard;
                    &:hover{
                        transition: $iconDuration;
                        background-color: $text;
                        color: $bezh;
                    }
                }
                
        }
    }
  }
  
  
  //Tablet 
  @media screen and (max-width: 768px) {
    .container{
        margin: 20px 0px 20px 0px;
        .cartBlock{
            margin: 20px 0px 20px 0px;
        }
        .headText{
            font-size: 22px;
        }
        .cartFooter{
            .infoBlock{
                .cartInfoItem{
                    font-size: 16px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    .counter{
                        font-weight: bold;
                    }
                }
            }
                .buyBtn{
                    font-size: 16px;
                    padding: 3px 10px;
                    border-radius: 18px;
                    background: none;
                    border: $standartBoard;
                }
                
        }
    }
  }
  
  //Phone
  @media screen and (max-width: 600px){
    .phoneContainer{
      width: 100%;
      height: calc(100vh - 98px);
      padding: 0 40px 0px 40px;
      margin: 10px 0px 10px 0px;
      text-align: center;
      .orderInfo{
        margin-top: 10px;
        font-size: 14px;
    }
    .container{
        margin: 20px 0px 20px 0px;
        .cartBlock{
            margin: 20px 0px 20px 0px;
        }
        .headText{
            font-size: 22px;
        }
        .cartFooter{
            .infoBlock{
                .cartInfoItem{
                    font-size: 16px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    .counter{
                        font-weight: bold;
                    }
                }
            }
                .buyBtn{
                    font-size: 16px;
                    padding: 3px 10px;
                    border-radius: 18px;
                    background: none;
                    border: $standartBoard;
                }
                
        }
    }
    }
  }
