@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';
.card{
    width: 100%;
    border-radius: 20px;
    border: 1px solid $text;
    background-color: $white ;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .leftSide{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        .imgBlock{
            width: 100%;
            max-width: 150px;
            img{
              width: 150px;
              height: 230px;
              border-radius: 14px;
            }
          }
      
        .infoBlock{
          margin-left: 20px;
          h6{
            font-size: 18px;
            font-family: "Oswald";
            margin-bottom: 15px;
          }
          p{
            font-size: 14px;;
            font-family: "Monserat";
          }
        }
    }

    .rightSide{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        .interactBlock{
            margin-right: 150px;
            p{
              font-size: 18px;
              font-family: 'Oswald';
            }
          }
          .closeBtn:hover{
            transition: $iconDuration;
            transform: rotate(360deg);
          }
        
    }
  }