@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';
.card{
    width: 100%;
    border-radius: 20px;
    border: 1px solid $text;
    background-color: $white ;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .leftSide{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        .imgBlock{
            width: 100%;
            max-width: 150px;
            img{
              width: 150px;
              height: 230px;
              border-radius: 14px;
            }
          }
      
        .infoBlock{
          margin-left: 20px;
          h6{
            font-size: 20px;
            font-family: "Oswald";
            margin-bottom: 15px;
          }
          p{
            font-size: 16px;;
            font-family: "Monserat";
          }
        }
    }

    .rightSide{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        .interactBlock{
            margin-right: 150px;
            p{
              font-size: 20px;
              font-family: 'Oswald';
            }
          }
          .closeBtn:hover{
            transition: $iconDuration;
            transform: rotate(90deg);
          }
          .closeBlock{
            .closeBtn{
              width: 30px;
              height: 30px;
            }
          }
        
    }
  }
  //Laptop
  @media screen and (max-width: 992px){
    .card{
      padding: 15px 30px;
      margin-bottom: 30px;
      .leftSide{
          .imgBlock{
              width: 100%;
              max-width: 120px;
              img{
                width: 100%;
                height: 200px;
              }
            }
        
          .infoBlock{
            margin-left: 20px;
            h6{
              font-size: 18px;
              font-family: "Oswald";
              margin-bottom: 10px;
            }
            p{
              font-size: 14px;;
              font-family: "Monserat";
            }
          }
      }
  
      .rightSide{
          .interactBlock{
              margin-right: 100px;
              p{
                font-size: 18px;
              }
            }
            .closeBlock{
              .closeBtn{
                width: 30px;
                height: 30px;
              }
            }
      }
    }
  }
  
  
  //Tablet 
  @media screen and (max-width: 768px) {
    .card{
      padding: 10px 15px;
      margin-bottom: 20px;
      .leftSide{
          .imgBlock{
              width: 100%;
              max-width: 90px;
              img{
                width: 100%;
                height: 160px;
              }
            }
        
          .infoBlock{
            margin-left: 10px;
            h6{
              font-size: 14px;
            }
            p{
              font-size: 10px;;
            }
          }
      }
  
      .rightSide{
          .interactBlock{
              margin-right: 70px;
              p{
                font-size: 14px;
              }
            }
      }
    }
  }
  
  //Phone
  @media screen and (max-width: 600px){
    .phoneContainer{
      width: 100%;
      height: calc(100vh - 98px);
      padding: 0 40px 0px 40px;
      margin: 10px 0px 10px 0px;
      text-align: center;
      .orderInfo{
        margin-top: 10px;
        font-size: 14px;
      }
    }
    .card{
      padding: 8px 10px;
      margin-bottom: 15px;
      .leftSide{
          .imgBlock{
              width: 100%;
              max-width: 90px;
              img{
                width: 100%;
                height: 140px;
              }
            }
        
          .infoBlock{
            margin-left: 8px;
            h6{
              font-size: 14px;
            }
            p{
              font-size: 10px;;
            }
          }
      }
  
      .rightSide{
          .interactBlock{
              margin-right: 60px;
              p{
                font-size: 14px;
              }
            }
      }
    }
  }