@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.container{
    width: 100%;
    display: flex;
    justify-content: center;

    .containerInner{
        width: 100%;
        margin: 40px 0px;
        .headText{
            font-family: 'Monserat';
        }
        .filterBtn{
            width: 220px;
            margin: 30px 10px 0px 10px;
            padding: 5px;
            border: 1px solid $text;
            background: none;
            border-radius: 20px;
            cursor: pointer;
            &:hover{
                color: $bezh;
                background-color: $text;
                transition: $iconDuration;
            }
        }
        .active{
            width: 220px;
            margin: 30px 10px 0px 10px;
            padding: 5px;
            border: 1px solid $text;
            border-radius: 20px;
            cursor: pointer;
            color: $bezh;
            background-color: $text;
        }
    }
}
//LapTop 
@media screen and (max-width: 992px){
    .container{
        .containerInner{
            margin: 30px 0px;
            .headText{
                font-size: 20px;
            }
            .filterBtn{
                width: 170px;
                margin: 20px 10px 0px 10px;
            }
            .active{
                width: 170px;
                margin: 20px 10px 0px 10px;
            }
        }
    }
}


//Tablet 
@media screen and (max-width: 768px) {
    .container{
        .containerInner{
            margin: 20px 0px;
            .headText{
                font-size: 20px;
            }
            .filterBtn{
                width: 130px;
                margin: 20px 8px 0px 8px;
                font-size: 14px;
            }
            .active{
                width: 130px;
                margin: 20px 10px 0px 10px;
            }
        }
    }
}

//Phone
@media screen and (max-width: 600px){
    .container{
        .containerInner{
            margin: 20px 0px;
            .headText{
                font-size: 18px;
            }
            .filterBtn{
                width: 120px;
                margin: 15px 8px 0px 8px;
                font-size: 14px;
            }
            .active{
                width: 115px;
                margin: 15px 10px 0px 10px;
            }
        }
    }
}