@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.container{
    width: 100%;
    display: flex;
    justify-content: center;

    .containerInner{
        width: 100%;
        margin: 40px 0px;
        .headText{
            font-family: 'Monserat';
        }
        .filterBtn{
            width: 200px;
            margin: 40px 10px 0px 10px;
            padding: 5px;
            border: 1px solid $text;
            background: none;
            border-radius: 20px;
            cursor: pointer;
            &:hover{
                color: $bezh;
                background-color: $text;
                transition: $iconDuration;
            }
        }
    }
}