.formBlock{
    width: 100%;
    text-align: center;
    .formItem{
        width: 100%;
        padding: 20px;
        .formItemName{
            width: 20%;
        }
        .formItemInput{
            width: 80%;
        }
    }
}