.formBlock{
    width: 100%;
    text-align: center;
    .formItem{
        width: 100%;
        .formItemName{
            width: 40%;
        }
        .formItemInput{
            width: 60%;
        }
    }
}