@import '../../styles/styles.scss';
@import '../../styles/styles.scss';

.formBlock{
    width: 100%;
    text-align: center;
    .formItem{
        width: 100%;
        padding: 10px 50px 10px 0px;
        .formItemName{
            width: 20%;
            font-family: 'Typo';
        }
        .formItemInput{
            width: 80%;
        }
    }
}