.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container{
    width: 100%;
    img{
        width: 100%;
    }
    .carousel{
        position: relative;
    }
    .carouselHeadText{
        position: absolute;
        top: 0;
    }
}