.header{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;

    .headerLeftSide{
        display: flex;
        
        h3{
            margin-right: 30px;
        }
        
    }
}