.container{
    width: 100%;
    .imgCarousel{
        max-width: 100%;
        border-radius: 20px;
    }
    
    .carouselHeadText{
    font-family: 'Paper';
    }
    
    .carouselCaption{
    top: 50%;
    transform: translateY(-50%);
    }
}

