.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    width: 100%;


    .imgCarousel{
        width: 100%;
        border-radius: 20px;
    }
    
    .carouselHeadText{
    font-family: 'Paper';
    }
    
    .carouselCaption{
    top: 50%;
    transform: translateY(-50%);
    }
}

