.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.form{
    border: 1px solid black;
    padding: 40px;

    .formItem{

    }

    .formFooter{


        .formFooterNavigation{

        }
    }
}