@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.container{
    width: 100%;
    margin: 40px 0px 40px 0px;
    padding: 0px 40px;
    .ordersBlock{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 40px 0px 40px 0px;
    }
    .orderInfo{
        color: $text;
        font-size: 18px;
    }
    .headText{
        text-align: center;
    }
}