@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0px 60px;

    .leftText{
        font-family: 'Monserat';
    }
  
    .searchBookBlock {
      position: relative;
      padding: 0 15px;
      display: flex;
      align-items: center;
      background-color: $white;
      border-radius: 14px;
      .clearSearchBtn {
        position: absolute;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .bookNameValue {
        border: 0;
        outline: none;
        padding: 14px;
        font-size: 15px;
        width: 200px;
      }
    }
  }