@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 100px 0;

    .createBtn{
        background: none;
        border: none;
        font-family: 'Monserat';
        border: 1px solid $text ;
    }
}