@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .itemBlock{
        .createBtn{
            background: none;
            border: none;
            font-family: 'Monserat';
            border: 1px solid $text;
            padding: 5px 10px;
            border-radius: 12px;
            &:hover{
                transition: $iconDuration;
                color: $bezh;
                background-color: $text;
            }
        }
    }
    
}
@media screen and (max-width: 600px) {

        .itemBlock{
            height: 100%;
        }
    
    
}