@import '../../styles/styles.scss';

.card{
    width: 100%;
    border: 1px solid $text;
    padding: 20px;
    .imgBlock{
        width: 100%;
        img{
            width: 100%;
        }
    }
}