@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    .ulBlock{
        max-width: 720px;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        .liBlock{
            width: 220px;
            margin: 20px 10px 0px 10px;
            padding: 5px;
            border: $standartBoard;
            border-radius: 20px;
            font-family: 'Monserat';
            cursor: pointer;
            &:hover{
                color: $bezh;
                background-color: $text;
                transition: $iconDuration;
            }
        }
        .active{
            width: 220px;
            margin: 20px 10px 0px 10px;
            padding: 5px;
            border: $standartBoard;
            border-radius: 20px;
            font-family: 'Monserat';
            cursor: pointer;
            color: $bezh;
            background-color: $text;
        }
    }
}
//LapTop 
@media screen and (max-width: 992px){
    .container{
        .ulBlock{
            max-width: 570px;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 15px;
            .liBlock{
                width: 170px;
                margin: 15px 10px 0px 10px;
                padding: 5px;
                border: $standartBoard;
                border-radius: 20px;
                font-family: 'Monserat';
                cursor: pointer;
                &:hover{
                    color: $bezh;
                    background-color: $text;
                    transition: $iconDuration;
                }
            }
            .active{
                width: 170px;
                margin: 15px 10px 0px 10px;
                padding: 5px;
                border: $standartBoard;
                border-radius: 20px;
                font-family: 'Monserat';
                cursor: pointer;
                color: $bezh;
                background-color: $text;
            }
        }
     }
}

//Tablet 
@media screen and (max-width: 768px) {
    .container{
        .ulBlock{
            max-width: 450px;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
            .liBlock{
                width: 130px;
                margin: 12px 8px 0px 8px;
                padding: 5px;
                border: 1px solid $text;
                border-radius: 20px;
                font-family: 'Monserat';
                font-size: 14px;
                cursor: pointer;
                &:hover{
                    color: $bezh;
                    background-color: $text;
                    transition: $iconDuration;
                }
            }
            .active{
                width: 130px;
                margin: 12px 8px 0px 8px;
                padding: 5px;
                border: 1px solid $text;
                border-radius: 20px;
                font-family: 'Monserat';
                font-size: 14px;
                cursor: pointer;
                color: $bezh;
                background-color: $text;
            }
        }
     }
}

//Phone
@media screen and (max-width: 600px){
    .container{
        .ulBlock{
            max-width: 360px;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
            .liBlock{
                width: 104px;
                margin: 12px 8px 0px 8px;
                padding: 5px;
                border: 1px solid $text;
                border-radius: 20px;
                font-family: 'Monserat';
                font-size: 12px;
                cursor: pointer;
                &:hover{
                    color: $bezh;
                    background-color: $text;
                    transition: $iconDuration;
                }
            }
            .active{
                width: 104px;
                margin: 12px 8px 0px 8px;
                padding: 5px;
                border: 1px solid $text;
                border-radius: 20px;
                font-family: 'Monserat';
                font-size: 12px;
                cursor: pointer;
                color: $bezh;
                background-color: $text;
            }
        }
     }
}