.container{
    width: 100%;
    display: flex;
    justify-content: center;
    ul{
        max-width: 720px;
        list-style: none;
        display: flex;
        text-align: center;
        flex-wrap: wrap;

        li{
            width: 220px;
            margin: 40px 10px 0px 10px;
            border: 1px solid black;
            border-radius: 20px;

        }
    }
}