@import '../../styles/styles.scss';


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    ul{
        max-width: 720px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            width: 220px;
            margin: 40px 10px 0px 10px;
            padding: 5px;
            border: 1px solid $text;
            border-radius: 20px;
            &:hover{
                color: $bezh;
                background-color: $text;
            }
        }
    }
}