@import '../../styles/variables.scss';

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    .ulBlock{
        max-width: 720px;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .liBlock{
            width: 220px;
            margin: 40px 10px 0px 10px;
            padding: 5px;
            border: 1px solid $text;
            border-radius: 20px;
            cursor: pointer;
            &:hover{
                color: $bezh;
                background-color: $text;
                transition: $iconDuration;
            }
            .active{
                color: $bezh;
                background-color: $text;
            }
        }
    }
}