.container{
    width: 100%;
    display: flex;
    justify-content: center;
    ul{
        max-width: 720px;
        list-style: none;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        li{
            
        }
    }
}